# --- OS & System Files ---
.DS_Store
Thumbs.db
*.swp

# --- IDEs (VS Code, IntelliJ, Eclipse) ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.classpath
.project
.settings/

# --- NODE.JS / DEPENDENCIES (Global, Backend & Frontend) ---
.angular
node_modules/
**/node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- BUILD & OUTPUTS ---
dist/
build/
out/
/coverage
*.tsbuildinfo

# --- NEXT.JS SPECIFIC ---
.next/
**/ .next/
next-env.d.ts
.vercel

# --- ENV & SECRETS (NUNCA SUBIR) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample
*.pem

# --- DEVICE (ESP32 / Arduino / PlatformIO) ---
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
*.bin
*.elf
*.hex
*.o
*.a
*.d
*.tmp
*.bak

# --- LOCAL DATABASE ---
pg_data/